/* FUENTES */

@font-face{
    font-family: 'jetbrain';
    src: url(.//fonts/jetbrain/ttf/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'libel';
    src: url(.//fonts/libel-suit-rg.ttf);
    font-weight: normal;
    font-style: normal;
}


/* BARRA DE NAVEGACION */

.navbar-brand{
    font-family: 'libel';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    padding-right: 10px;
    border-right: 1px solid black;
    
}

.nav-item .nav-link{
    font-family:'libel';
    font-size: 30px;
    text-shadow: 0px 0px 1px #ccc;
}


/* JUMBOTRON */

.jumbotron{
    width: 100%;
    background-image: url(./img/jumbotron/front123-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #3b83bd;
 
}
.jumbotron h2{
    font-family: 'jetbrain';
    font-weight: normal;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px black;
}

.jumbotron p{
    font-family: 'jetbrain';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-shadow: 0px 0px 3px black;
}

.lead{
    font-family: 'jetbrain';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color:white;
    text-shadow: 0px 0px 3px black;
}

#img-code{
    background-color: rgb(0, 123, 255);
    justify-content: right;
}

/* FORMULARIO */

#formulario{   
   border-radius: 5px 5px 5px 5px;
   background-color: #3b83bd;
}

/* CONOCEME */

#jumbo-conoceme{

    background-image: url(./img/conoceme/flat-2126876_1280.png);
    background-color:rgb(121, 109, 109);
    height: 393px;
}

/* FOOTER */

#footer-container {
    background-color: #1bd32c;
}

.footer-list {
    font-family: 'libel';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    list-style: none;
    color: white;
    text-shadow: 0px 0px 3px black;
    background-color: transparent;
}

#copyright{
    font-family: 'libel';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 3px black;

}

#copyright a {
    color: white;
}
